#board {
    background: var(--color-background-light);
    height: 100%;
    max-width: none;
    margin: 0px;
    padding: 10px;
    overflow-y: hidden;
}

#row {
    /* border-radius: 20px; */
    height: 100%;
    flex-wrap: nowrap;
    margin: 0px;
    margin-top: -10px;
}