#lane {
    margin: 10px;
    margin-top: 20px;
    max-width: 300px;
    min-width: 300px;
    background: var(--color-background-primary);
    border-radius: 10px;
    padding: 0px;
    height: 99%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.laneHeader{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    user-select: none;
}

.laneHeader p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    color: var(--color-text-primary);
}

.headerIcons{
    color: var(--color-text-primary);
    align-self: center;
    margin-top: 10px;
    margin-right: 10px;
}

.headerIcons i{
    margin-left: 8px;
}

.laneTitle {
    margin: 10px;
    width: calc(100% - 100px);
}

#cardContainer{
    padding: 0;
    height: calc(100% - 50px);
}

#cardArea{
    height: calc(100% - 60px);
    overflow: auto;
    margin-right: 1px;
}

.simplebar-scrollbar::before {
    background: var(--color-primary);
}