.inputField{
    border: none;
    border-bottom: 2px solid var(--color-primary);
    background: none;
    width: 100%;
}

.title {
    margin: 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

input:focus{
    outline: none;
}