.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#inputField {
    display: flex;
    width: 100%;
    margin-top: 40px;
    /* border: solid 2px var(--color-primary);
    border-radius: 2px; */
    height: 35px;
    flex-direction: column;
}

.inputTb {
    border: solid 2px var(--color-primary);
    border-radius: 2px;
    width: 100%;
    min-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.loginHeader {
    display: flex;
    flex-direction: column;
}

.loginBtn {
    border-radius: 2px;
    margin-top: 40px;
    min-height: 35px;
    border: solid 2px var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-background-primary);
}

.input-feedback {
    color: red;
    font-size: 0.8rem;
}
