.backlogItem {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-left: 10px;
  border-bottom: 0.5px solid #f2f2f2;
  border-radius: 2px;
  border-left: 3px solid rgb(204,204,204);
  margin-bottom: 5px;
}

.backlogItem div {
  width: 15%;
  padding-bottom: 5px;
}

.backlogItem:hover{
  background: var(--color-background-dark);
}

#blID{
  width: 3%;
}

#blTitle {
  width: 35%;
}

#blTimeEstimation {
  width: 10%;
}
