#board{
    /* background-color: #FFFFFF; */
    height: 100%;
    max-width: none;
    margin: 0px;
    padding: 20px;
    overflow-y: hidden;
}

#row{
    /* border-radius: 20px; */
    height: 100%;
    flex-wrap: nowrap;
    margin: 0px;
}