#board{
    background-color: #0f6674;
    height: 100%;
    max-width: none;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

#row{
    background-color: #1c7430;
    height: 100%;
    flex-wrap: nowrap;
    margin: 0px;
}