#content{
    position: relative;
    margin-left: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--color-background-primary);
}

.spinner{
    margin: auto;
    color: var(--color-primary);
}
