#content{
    position: relative;
    margin-left: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--color-background-primary);
}

@media only screen and (max-width: 600px) {
    #content {
        margin-left: 60px;
    }
}