#content{
    position: relative;
    margin-left: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#header{
    display: flex;
    flex: 80px;
}