#lane {
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 0px;
    height: 100%;
}

#laneHeader{
    height: 50px;
    width: 100%;
}

#laneTitle{
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    padding: 10px;
    margin-left: 10px;
}

#cardContainer{
    padding: 0;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

#cardArea{
    height: 100%;
}