#sidebar {
    width: 240px;
    background: #EB5757;
    position: fixed;
    height: 100vh;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
