.TopNavBar {
    display: flex;
    min-height: 72px;
    max-height: 72px;
    border-bottom: 2px solid;
    border-color: #EB5757;
}

.NavBarTitle{
    margin-left: 15px;
    margin-top: 7px;
    color: #EB5757;
    font-weight: 600;
    user-select: none;
}

.profileIcon {
    color: #EB5757;
    user-select: none;
    margin-right: 7.5px;
    margin-top: 5px;
}

.profileButton {
    display: flex;
    margin-left: auto;
    margin-right: 0px;
}