.TopNavBar {
    display: flex;
    min-height: 72px;
    max-height: 72px;
    border-bottom: 2px solid;
    border-color: red;
}

.NavBarTitle{
    margin-left: 15px;
    margin-top: 7px;
    color: red;
    font-weight: 600;
}