.TopNavBar {
    display: flex;
    min-height: 72px;
    max-height: 72px;
    background: var(--color-background-primary);
}

.NavBarTitle{
    margin-left: 15px;
    margin-top: 7px;
    color: var(--color-primary);
    font-weight: 600;
    user-select: none;
}

.profileIcon {
    color: var(--color-primary);
    user-select: none;
    margin-right: 7.5px;
    margin-top: 5px;
}

.profileButton {
    display: flex;
    margin-left: auto;
    margin-right: 0px;
}