#sidebar {
    width: 240px;
    background: var(--gradient-primary);
    position: fixed;
    height: 100vh;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
}
#sidebar::-webkit-scrollbar {
    display: none;
}