#sidebar {
    background: var(--color-primary);
    position: fixed;
    float: left;
    display: flex;
    width: 240px;
}
#sidebar::-webkit-scrollbar {
    display: none;
}

.topbar {
    overflow: hidden;
    min-height: 113px;
    position: fixed;
    width: 240px;
}

.bottombar {
    margin-top: 113px;
    height: calc(100vh - 163px);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
}

.bottombar::-webkit-scrollbar {
    display: none;
}

.footer {
    min-height: 52px;
    position: fixed;
    align-self: flex-end;
    overflow: hidden;
    position: fixed;
    width: 240px;
    background-color: var(--color-primary);
}


