.smallSideBar {
    height: 100vh;
    max-width: 50px;
    min-width: 50px;
    background: var(--color-primary);
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.collapseIcon {
    color: var(--color-background-primary);
    user-select: none;
    margin-left: 10px;
    margin-top: 13px;
}

#toggleBtn {
    min-height: 52px;
    max-height: 52px;
    max-width: 50px;
    overflow: hidden;
    width: 50px;
}

#toggleBtn:hover {
    background-color: var(--color-primary-light);
}

.headerImg {
    margin-bottom: 10px;
}

#logo {
    width: 50px;
    height: 73px;
}

.sbContainer{
    display: flex;
    height: calc(100vh - 50px);
}
