.flex-grid {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 62px);
}
h4 {
  font-size: 20px;
  color: white;
  padding: 8px;
  border-radius: 2px;
  background: var(--color-primary);
  margin-right: 7px;
}
.mt-5 {
  margin-top: 15px !important;
}
.col {
  height: calc(100vh - 62px);
  flex: 1;
}

#d-board {
  background-color: var(--color-background-dark);
  height: calc(100vh - 62px);
}

/* .txtInput::placeholder {
  padding: 5px;
  border-bottom: 1.5px solid var(--color-primary);
} */

.txtInput:focus {
  border: 1px solid gray;
}

.txtInput {
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px;
  display: flex;
  width: 100%;
  background: var(--color-background-primary);
}

.search-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 7px;
}

.search-bar {
  display: flex;
  flex: 1.6;
  width: 100%;
}

.search-btn {
  padding: 4px;
  border: none;
  border-radius: 2px;
  margin-left: 12px;
  flex: 0.2;
  display: flex;
}

.db-container {
  background-color: var(--color-background-primary);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 3px 12px 12px;
}
.tasks-container {
  padding: 12px;
  border: 1px solid black;
}
