.flex-grid {
  display: flex;
}
h4 {
  font-size: 20px;
  color: white;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  background: var(--color-primary);
}
.mt-5 {
  margin-top: 15px !important;
}
.col {
  height: 100vh;
  flex: 1;
}

input[type="text"] {
  box-shadow: none;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px;
  width: 90%;
}
.search-btn {
  padding: 4px;
  border: none;
  margin-left: 12px;
}
.projects-container {
  padding: 12px;
  border: 1px solid black;
}
.tasks-container {
  padding: 12px;
  border: 1px solid black;
}
/* #dashboard {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
}
.search-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .search-bar {
    width: 100%;
  }
} */
