.dashboardProjectContainer,
.dashboardTaskContainer {
  display: flex;
  flex-direction: column;
}

.projectListItem,
.taskItem {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  border-left: 3px solid var(--color-primary);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom: 0.5px solid #f1f1f1;
  /* border-top: 0.5px solid #f1f1f1; */
}

.projectListItem:hover,
.taskItem:hover {
  cursor: pointer;
  background: var(--color-background-dark);
}

.projectListItemName,
.projectTaskItemName {
  width: 90%;
  flex-grow: 8;
}
.projectListItemId,
.projectTaskItemId {
  width: 10%;
  min-width: 30px;
  flex-grow: 1;
  text-align: center;
  border-radius: 5px;
  background: var(--color-primary);
  color: white;
}
