.SettingsSideNavBtn {
  display: flex;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  padding-top: 5px;
  border-bottom: solid #f2f2f2 2px;
  user-select: none;
}

.SettingsSideNavBtn:hover {
  background: var(--color-primary-light);
  color: white;
}

.SettingsSideNavBtn:hover p {
  font-weight: 550;
}

.SettingsSideNavBtn p {
    font-size: 20px;
}
