.SettingsViewContainer {
    display: flex; 
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

.SettingsHeader {
    display: flex;
    font-weight: 550;
    font-size: 30px;
    color: var(--color-primary);
    user-select: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-bottom: solid #f2f2f2 2px;
}

.settingsInputField {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    font-size: 20px;
    width: 250px;
    margin-bottom: 4px;
}

.settingsInputBar {
    border: solid var(--color-primary) 2px;
    border-radius: 2px;
    height: 35px;
    margin-bottom: 20px;
    width: 350px;
    padding-left: 5px;
}

.SettingsSubmitBtn {
    color: var(--color-background-primary);
    background: var(--color-primary);
    border-radius: 2px;
    height: 40px;
    font-size: 20px;
    padding-top: 2px;
    max-width: 165px;
    user-select: none;
    margin: auto 0 20px auto;
    width: 200px;
    text-align: center;
}

.SettingsSubmitBtn:hover {
    background: var(--color-primary-dark);
}

.SettingsColorBtnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.SettingsColorBtn {
    display: flex;
    color: var(--color-background-primary);
    background: var(--color-primary);
    border-radius: 2px;
    height: 40px;
    font-size: 20px;
    padding-top: 2px;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
    width: 150px;
    text-align: center;
    margin-right: 30px;
    margin-top: 15px;
    margin-top: 5px;
}

#pinkBtn {
    background: #eb5757;
}
#redBtn {
    background: #d32f2f;
}
#greenBtn {
    background: #388E3C;
}
#blueBtn {
    background: #1976D2;
}
#orangeBtn {
    background: #E64A19;
}
#yellowBtn {
    background: #FFB300;
}

#pinkBtn:hover {
    background: #eb494e;
}
#redBtn:hover {
    background: #c62828;
}
#greenBtn:hover {
    background: #2E7D32;
}
#blueBtn:hover {
    background: #1565C0;
}
#orangeBtn:hover {
    background: #D84315;
}
#yellowBtn:hover {
    background: #FFA000;
}

.settingsPopupBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.24);
    display: flex;
}

.settingsPopup{
    background: white;
    margin: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px
    rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.settingsPopup .PopupTitle{
    font-size: 1.6em;
    text-align: center;
    margin: 30px 10px 10px;
}

.settingsPopup .PopupInput{
    margin: 10px auto 0;
}

.settingsPopup .PopupButtonHolder{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.settingsPopup .PopupButton{
    flex: 1;
}

.settingsPopup .PopupButton .customButton{
    flex: 1;
}
